d3m==2018.7.10
-e git+https://gitlab.com/datadrivendiscovery/sklearn-wrap.git@5e3b7016dc8ed1f1c1fc1484f459f36dddc14548#egg=sklearn_wrap
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@26419dde2f660f901066c896a972ae4c438ee236#egg=common_primitives
