-e git+https://gitlab.com/datadrivendiscovery/sklearn-wrap.git@379272c106fb4194e86dc71b7fa232133d3586c2#egg=sklearn_wrap
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@0324a0c1b98d25aaf984a04c4056a9988d437586#egg=common_primitives
